<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>Vehicule - Accueil</title>
		<!-- <script type="text/javascript" src="demo/target/classes/templates/pages/js/vanilla.js" ></script> -->
		<script type="text/javascript" th:src="@{/js/vanilla.js}"></script>
	</head>
	<body>
		<h1>Accueil</h1>

		<h3>Recherche Enchere</h3>
		<form action="/enchere/search" method="get">
			<p>Critere:<input type="text" name="critere" id="critere"></p>
			<p>Categorie:<select name="categ" id="categ">
				<option></option>
			</select></p>
			<p><input type="submit" value="Search"></p>
		</form>

		<table border="1" style="border-collapse: collapse;">
			<tr>
				<th>id</th>
				<th>daescription</th>
				<th>duree</th>
				<th>date debut</th>
				<th>prix minimum</th>
				<th>photo</th>
				<th>statue</th>
				<th>produit</th>
			</tr>
			<tbody id="recherche">

			</tbody>
		</table>

		<p>
			<span id="detailVehicule"></span>
		</p>

		<p>
			<a href="/accueil">retour</a>
		</p>
		<p>
			<a href="/login">Deconnexion</a>
		</p>

	</body>
</html>